* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
    overflow-x: hidden;
}


.headercontext {
    width: 100%;
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar-burger span{

    height: 2px;
}
.headercontext h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 15px;
    z-index: 1;
    font-weight: 600;
}

.headercontext p {
    text-align: center;
    margin-bottom: 25px;
    z-index: 1;
}

.headercontext figure img {
    max-height: 60vh;
    width: auto;
    border-radius: 1rem;
    z-index: 1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
}

.headercontext figure {
    display: flex;
    justify-content: center;
}


.area {
    background: #ffe0f7;
    background: -webkit-linear-gradient(to left, #ffe0f7, #fe91ca);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    z-index: 1000;

}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(254, 142, 202, 0.7);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



/* navbar */
.navbar {
    background: rgba(255, 224, 247, .7);
    z-index: 1000;

}

.navbar-item.is-mega {
    position: fixed;
}

.is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
}

.logo-font {
    font-size: 25px;
}

.character {
    height: 96px;
}

.solutionholder {
    margin: 10px;
}

.carder img {
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}

.carderforsingle img {
    max-height: 60vh;
    width: auto;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
}


.paddingsection {
    padding-left: 15%;
    padding-right: 15%;
}

.download {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: white !important;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.download a {
    color: white;
    margin: 10px;
}

#banner {
    height: 25vh;
}

#socialicon {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#socialicon figure {
    display: inline;
    margin-right: 12px;
}

#logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background: url('images/footer.jpg');
    background-size: contain;
}


.sectionfullImageContainer{
    display: flex;
    justify-content: center;
}

li a{
    color: black;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .download a {
        color: white;
        margin: 10px;
        height: 10vh;
    width: auto;
    font-size: 2.5em;
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .download a {
        color: white;
        margin: 10px;
        height: 9vh;
    width: auto;
    font-size: 2.2em;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .download a {
        color: white;
        margin: 10px;
        height: 7vh;
    width: auto;
    font-size: 2em;
    }

    .footer{
        background: url('images/footer.jpg');
        background-size: cover;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .paddingsection {
        padding-left: 5%;
        padding-right: 5%;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .paddingsection {
        padding-left: 5%;
        padding-right: 5%;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .paddingsection {
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer{
        background: url('images/footer1.jpg');
        background-size: cover;
    }
    
  }
















